:root {
  --hue-color: 280;
  --text-color:#000000;
  --text-color2:#8e75ff65;
  --fundo2: #f6ebff;
  --shadow: rgba(100, 100, 111, 0.341) 0px 7px 29px 0px;
  --shadowint: rgba(40, 1, 47, 0.4) 0px 2px 4px,
  rgba(39, 0, 46, 0.3)  0px 7px 13px -3px, rgba(38, 0, 46, 0.1)  0px -3px 0px inset;
  --text: rgb(70, 70, 89);
  --hover: #635c80;
  --gradient: linear-gradient(45deg, #8d72a0, #d2f6ff);
  --title: #8f75ff;
  --body-style: #8e75ff65;
  --h3:#8e75ff65;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto mono', monospace;
  background-color: var(--fundo2);
}

  .logo2 {
      width: 60px;
      padding: 10px;
      margin-left: 5rem;
      color:#ffffff;

  }
  
  
  strong {
      color: var(--hover);
  }

  
   nav  {
  display: flex;
  background-color: #241e4e;
  align-items: center;
  justify-content: space-around;
  height: 8vh;
  }

  nav a {
      color: #ffffff;
      text-decoration: none;
      font-size: 1.5rem;
      font-weight: 700;
  }
  
  .nav-list {
      display: flex;
      list-style: none;
  }
  
  .nav-list li {
      letter-spacing: 2px;
      margin-left: 32px;
      color: #ffffff;
      font-weight: 400;
      font-size: 22px;
      text-decoration: none;
      transition: .3s;
  }
  
  .navButtons:hover {
      color: var(--fundo2);
  }

.menu-mobile {
  display: none;
  cursor: pointer;   
}

.menu-mobile div {
  width: 32px;
  height: 2px;
  margin: 8px;
  background-color: #ffffff;
 
}

.perfil {
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  background-color: var(--fundo2);
  height: 60vh;
}

.perfil-text{
  align-items: center;
  width: 50rem;
  height: 32rem;
  margin-left: 15rem;
  margin-top: 13rem;
}

h2 {
  color: #241e4e;
  font-size: 30px;
  margin-bottom: 2rem;
  margin-top: 1rem;
}


.textp {
  font-size: 15px;
  width: 45rem;
  color: #000000;
  margin-top: 1rem;

}

.buttonContatoCv {
  background-image: var(--gradient);
          border-radius: 5px;
          color: #ffffff;
          font-weight: 700;
          padding: 1rem;
          text-align: center;
          cursor: pointer;
          width: 215px;
          height: 10px;
          align-items: center;

}

.iconcv{
  max-width: 30px;
  margin-top: 30px;
}

#fotoperfil {
  width: 250px;
  margin: 1rem;
  border-radius: 100%;
  background: var(--gradient);
  border: 5px solid transparent;
}
h3 {
  color: #241e4e;
  font-size: 24px;
  margin-bottom: 0;
  margin-left: 20px;
  padding: 2rem;
  text-transform: uppercase;
  font-family: 'Roboto Mono', monospace;

}
#tecnologias{
  display: block;
  margin: 1rem;
  padding: 1rem;
  text-align: center;
}

.icons {
  width: 50px;
  margin: 1rem;

}

#projetos {
  text-align: center;
  align-items: center;
  background-color: var(--fundo2);
  padding: 2rem;
  height: 75rem;
  margin: 5rem;
  display: inline-block;
  color: #000000;

}

li{
  display: inline-flex;
  flex-direction: column;
}


li a {
  text-decoration: none;
  color: #ffffff;
}



.button-view {
  background-image: var(--gradient);
  border-radius: 10px;
  color: var(--text-color);
  align-items: center;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 700;
  text-align: center;
  width: 350px;
  height: 50px;
  cursor: pointer;
  box-shadow: var(--shadow);
  border: none;
  margin: 5rem;
  margin-top: -2rem;
}

.container-sub{
  display: inline-block;
  margin: 1rem;

}

.telas {
  max-width: 500px;
  border-radius: 10px;
  margin: 1rem;
}
.button-view-2 {
  background-image: var(--gradient);
  border-radius: 10px;
  color: var(--text-color);
  align-items: center;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 700;
  margin-left: 2rem;
  text-align: center;
  width: 350px;
  height: 50px;
  cursor: pointer;
  box-shadow: var(--shadow);
  border: none;
  margin: 5rem;
  margin-top: -2rem;
}


#Contatos {
  width: 100vw;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.contatos_h2{
  color: var(--text-color);
  font-size: 28px;

}
.contatos_p{    
  font-size: 20px;
  color: #000;
}
.WrapperButtonsContato {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  
}
.buttonContato {
  background-image: var(--gradient);
  border-radius: 10px;
  color: var(--text-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 700;
  padding: 10px 16px;
  margin: 1rem;
  
}
.buttonContato:hover {
  box-shadow: var(--shadowint);
}

.buttonContato img {
  width: 40px;
  margin-right: 1rem;
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  margin-top: 1rem;
  margin-bottom: 10px;
  color: var(--text-color);

}

a {
  text-decoration: none;
}

@media screen and (max-width: 768px) {

  body{
      overflow-x: hidden; 
  }

  .nav-list {
      position: absolute;
      top: 7.5vh;
      right: 0;
      width: 38vw;
      height: 92vh;
      background: #241e4e;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;

  }

  .nav-list li {
      margin-left: 28rem;
      opacity: 0;
  }

  .nav-list a {
      font-size: 1rem;
  }
  .menu-mobile {
      display: block;
  }

  .menu-mobile div{
      background-color: #ffffff;
  }

  .nav-list.active {
      transform: translateX(0);
  }

  @keyframes navLinkFade {
      from {
          opacity: 0;
          transform: translateX(50px);
      }
      to {
          opacity: 1;
          transform: translateX(0px);
      }
  }

  .perfil {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 120vh;
  }

  .perfil-text h2{
      font-size: 20px;
      text-align: center;
  }
  .perfil-text{
      width: 20rem;
      height: 40rem;
      margin-left: 0;
      margin-right: 0;
      margin-top: 1rem;
      text-align: center;
  }

  #fotoperfil {
      width: 200px;
      margin-top: -3rem;
      border-radius: 100%;
  }

  h2 {
      font-size: 20px;
  }

  .textp {
      font-size: 15px;
      width: 20rem;
      margin-top: 2rem;
      text-align: center;
  }

  .buttonContatoCv {
      width: 150px;
      height: 50px;
      margin: 1rem;
      margin-top: 2rem;
      margin-left: 5rem;
  }

  .iconcv{
      max-width: 30px;
      margin-top: 30px;
  }

  #tecnologias{
      display: block;
      margin: 1rem;
      padding: 1rem;
      text-align: center;

  }

  .icons {
      width: 50px;
      margin: 1rem;

  }

  #projetos {
      padding: -2rem;
      height: 118vh;
      margin: 2rem;
      width: 90vw;
      margin-left: 0;
      
  }

  .container-sub{
      display: flex;
      margin: 5rem;
      flex-direction: column;
      align-items: center;
      height: 30rem;
      width: 95vw;
      margin-left: -1rem;

  }

 

  .telas {
      max-width: 300px;
      border-radius: 10px;
      align-self: center;
      margin-bottom: 2rem;
  }

  ul  h3 {
      font-size: 20px;
      text-align: center;
      width: 300px;
      margin-left: 6rem;
      
  }

  li{
      display: block;
      width: 35rem;
  }

  li a {
      text-decoration: none;
      color: #ffffff;
  }


  #contatos{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 125rem;
      width: 100vw;
      height: 50vh;
  }

  .contatos_h2{
      font-size: 28px;
      margin-top: 2rem;
      margin-bottom: 2rem;

  }

  .contatos_p{    
      font-size: 20px;
      margin: 1rem;
      text-align: center;
  }
  .WrapperButtonsContato{
      flex-direction: column;
      
  }

  footer {
      font-size: 12px;
      margin-top: 5rem;
      height: 30px;

  }

}

/* @media screen and (max-width: 1440px) {
  .perfil {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 120vh;
      margin-left: -15rem;
  }

  #tecnologias{
      margin-top: -15rem;
  }

  #projetos {
      height: 120rem;

  }

  .text_1{
      margin-bottom: 3rem;
  }

  #contatos {
      margin-top: 2rem;
      margin-bottom: 2rem;
      justify-content: center;
      margin-left: 5rem;
  }

  footer {
      height: 5vh;
  }
}*/


